In [3]:
from Functions import script

In [4]:
weather = script(script_Name="weather_temperature",api="https://www.metaweather.com/api/location/1521894/",data_section="consolidated_weather")

Assgin_Columns

In [5]:
weather.assign_columns_Func()

Column 1 assigned to humidity
Column 2 assigned to visibility
Column 3 assigned to air_pressure
Column 4 assigned to wind_speed
Column 5 assigned to applicable_date

Save first Date  weather to csv file

In [3]:
weather.Save_To_Csv_file()

Done , Exported file to weather_temperature_File_2022-03-17.csv including 1 results

   humidity  visibility  air_pressure  wind_speed applicable_date
0        40    9.999727        1026.0    3.312261      2022-03-17

Save second date weather to csv file

In [4]:
weather.Save_To_Csv_file()

Done , Exported file to weather_temperature_File_2022-03-15.csv including 1 results

   humidity  visibility  air_pressure  wind_speed applicable_date
0        36   10.809373        1025.0   10.668759      2022-03-15

Save third date weather to csv file

In [5]:
weather.Save_To_Csv_file()

Done , Exported file to weather_temperature_File_2022-03-13.csv including 1 results

   humidity  visibility  air_pressure  wind_speed applicable_date
0        41   11.680225        1021.5    7.917322      2022-03-13